- title "Software principles and practices to extreme levels"

%article.promo
  .info
    = image_tag('dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
  .description
    %h2.hidden About

    %p I'm <strong>Software Engineer</strong> with <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">5+ years of experience</a> and expertise with <strong>Ruby on Rails</strong>. I can help your product design and build successful web application front-end to back-end. I write clean code and practice XP (TDD, pair programming, refactoring).

    %p I'm co-founder and organizer of <a href="http://ruby.mk" target="_blank">MKRUG</a> (Macedonian Ruby Users Group), <a href="https://github.com/dalibor">open-source contributor</a> and <a href="https://play.google.com/store/apps/details?id=mk.popravi.mobile&hl=en" target="_blank" title="VIP Android content 2010">award-winning</a> Android mobile application developer.


    %p I have experience implementing techniques with Agile & Lean values (XP, Scrum and Kanban), mentoring developers in local and distributed teams and facilitating Coderetreat events (<a href="/posts/31-global-day-of-coderetreat-in-skopje-macedonia" title="Global Day of Coderetreat 2011 - Skopje (Macedonia)">GDRC11</a> and <a href="/posts/36-global-day-of-coderetreat-2012-skopje-macedonia" title="Global Day of Coderetreat 2012 - Skopje (Macedonia)">GDRC12</a>).

    %p I have received B.Sc. in "Computer Engineering, Computer Science and Automatics" from <a href="http://www.feit.ukim.edu.mk/" target="_blank">FEIT</a> (Faculty of Electrical Engineering and Information Technologies) in Skopje.

    = render 'shared/get_in_touch'

%article.promo
  .info
    %h3 Latest blog posts
    %p.notes About software principles and practices

  .description
    %ul
      - @posts.each do |post|
        %li
          %h4= link_to post.title, post
          %time= post.published_at.to_s(:date)

%article.promo.projects
  .info
    %h3 Open-source projects
    %p.notes Checkout my <a href="https://github.com/dalibor" target="_blank">Github</a> for more
  .description
    %ul
      %li
        %h4= link_to 'kreator', 'https://github.com/dalibor/kreator', :target => '_blank'
        %span Ruby, Rack, RSpec
        %p Experimental MVC web framework build to demonstrate Ruby on Rails concepts.

      %li
        %h4= link_to 'HRT', 'https://github.com/dalibor/hrt', :target => '_blank'
        %span Ruby on Rails, jQuery
        %p Health Resource Tracker - tracks resource flows in the health sector from their sources to the ultimate health function they serve. Visit the <a href="https://hrtapp.com" target="_blank">website</a>.

      %li
        %h4= link_to 'popravi.mk', 'https://github.com/dalibor/popravi.mk', :target => '_blank'
        %span Ruby on Rails, Google maps, API service
        %p Web application that allows citizens and city councils to report, view, discuss and process urban issues detected on public area. Visit the <a href="http://popravi.mk/" target="_blank">website</a>.

      %li
        %h4= link_to 'PopraviMK', 'https://github.com/dalibor/PopraviMK', :target => '_blank'
        %span Titanium Mobile (Android)
        %p Mobile application for Android devices that allows citizens and city councils to report, view, discuss and process urban issues. Download the application from <a href="https://market.android.com/details?id=mk.popravi.mobile&hl=en" target="_blank">market</a>.

      %li
        %h4= link_to 'Blog', 'https://github.com/dalibor/blog', :target => '_blank'
        %span Ruby on Rails
        %p Blog application built with Ruby on Rails used for this site.

      %li
        %h4= link_to 'cyrillizer', 'https://github.com/dalibor/cyrillizer', :target => '_blank'
        %span Ruby
        %p Small ruby gem that converts characters from latin to Macedonian cyrillic alphabet.

      %li
        %h4= link_to '140.mk', 'https://github.com/dalibor/140mk', :target => '_blank'
        %span Ruby on Rails
        %p Twitter aggregator / directory application localized for Macedonian community

      %li
        %h4= link_to 'jQuery.tweets', 'https://github.com/dalibor/jQuery.tweets', :target => '_blank'
        %span jQuery
        %p jQuery plugin that displays recent tweets from a Twitter profile

      %li
        %h4= link_to 'jQuery.tracks', 'https://github.com/dalibor/jQuery.tracks', :target => '_blank'
        %span jQuery
        %p jQuery plugin that displays recent tracks from a Last.fm profile

%article.promo
  .info
    %h3 Presentations
    %p.notes About technologies and products
  .description
    %ul
      %li
        %h4 <a href="http://e-society.org.mk" target="_blank">e-society</a> conference in Skopje
        %time December, 2010
        %p My presentation about PopraviMK project from e-society conference. <br/>Presentation is in Macedonian.
        %p= link_to image_tag('e-society.png'), 'http://blip.tv/esocietymk-2010/dalibor-nasevik-popravi-mk-4661075', :target => '_blank'
