%article.promo.about
  .info
    = image_tag('dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
  .description
    %p I'm Ruby developer with <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">over 5 years of experience</a> working with Ruby on Rails. I write clean code and practice TDD.

    %p Organizer of <a href="http://ruby.mk" target="_blank">MKRUG</a>, <a href="https://github.com/dalibor">open-source</a> contributor and <a href="https://play.google.com/store/apps/details?id=mk.popravi.mobile&hl=en" target="_blank" title="VIP Android content 2010">award-winning</a> Android mobile application developer.

    = render 'shared/get_in_touch'

%article.promo
  .info
    %h3 Blog posts
    %p.notes== Browse all my #{link_to "blog posts", posts_path}

  .description
    %ul
      - @posts.each do |post|
        %li
          %h4= link_to post.title, post
          %time= post.published_at.to_s(:date)

%article.promo.projects
  .info
    %h3 Projects
    %p.notes== View all my #{link_to "Github projects", "https://github.com/dalibor", target: "_blank"}
  .description
    %ul
      %li
        %h4= link_to 'popravi.mk', 'https://github.com/dalibor/popravi.mk', :target => '_blank'
        %span Ruby on Rails, API service, Google maps
        %p Web application that allows citizens and city councils to report, view, discuss and process urban issues detected on public area. Visit the <a href="http://popravi.mk/" target="_blank">website</a>.

      %li
        %h4= link_to 'PopraviMK', 'https://github.com/dalibor/PopraviMK', :target => '_blank'
        %span Titanium Mobile (Android mobile application)
        %p Mobile application for Android devices that allows citizens and city councils to report, view, discuss and process urban issues. Download the application from <a href="https://market.android.com/details?id=mk.popravi.mobile&hl=en" target="_blank">market</a>.

      %li
        %h4= link_to 'kreator', 'https://github.com/dalibor/kreator', :target => '_blank'
        %span Ruby, Rack, RSpec
        %p Experimental MVC web framework build to demonstrate Ruby on Rails concepts.
