- title "Programming principles and practices to extreme levels"

= render 'shared/profile'

%section#blog
  %section#posts
    %header
      %h3 Recent blog posts
      = link_to "View all", posts_path
    - @posts.each do |post|
      %article
        %h4= link_to post.title, post
        %p
          = post.description
        %i
          = time_ago_in_words post.created_at
          ago

  = render :partial => 'shared/tags'
