- title "Software principles and practices to extreme levels"

%article.promo
  .info
    = image_tag('dalibor.nasevic.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
  .description
    %h2.hidden About me
    %p Hi, my name is <strong>Dalibor Nasevic</strong> and I am a <strong>software professional</strong> currently located in Skopje (Macedonia). I enjoy building <strong>web apps</strong> from start to finish.
    %p I am an <a href="http://www.flickr.com/photos/it_com_mk/5003633679/in/set-72157624863051331/lightbox/" target="_blank">award-winning</a> Android <a href="http://android.vip.mk/winners" target="_blank">mobile application</a> developer and Ruby on Rails open-source <a href="http://contributors.rubyonrails.org/contributors/dalibor-nasevic/commits" target="_blank">contributor</a>. I have been working in various capacities on numerous Ruby on Rails projects <a href="http://www.workingwithrails.com/person/13391-dalibor-nasevic" target="_blank">since 2007</a>.
    %p I am also <strong>co-founder and organizer</strong> of <a href="http://ruby.mk" target="_blank">MKRUG</a> (Macedonian Ruby Users Group) and active member of <a href="/posts/31-global-day-of-coderetreat-in-skopje-macedonia">software craftmenship</a> movement. I have given <a href="http://b10g.spodeli.org/search/label/ruby.mk" target="_blank">technical</a> presentations on web and mobile technologies, and <a href="http://blip.tv/esocietymk-2010/dalibor-nasevik-popravi-mk-4661075" target="_blank">non-technical</a> presentations on <a href="http://popravi.mk" target="_blank">PopraviMK</a> project in various venues.
    %p Currently I am employed by <a href="http://www.siyelo.com/" target="_blank">Siyelo</a> - web application development consultancy with distributed teams in Cape Town and Skopje.
    %p I am highly motivated toward good execution using tools like: Linux, Vim, Git and programming practices like: TDD/BDD and Pair Programming. I have solid experience mentoring developers in local and distributed teams and experience with Agile methodologies like Scrum and XP.
    %p I have received B.Sc. in "Computer Engineering, Computer Science and Automatics" from <a href="http://www.feit.ukim.edu.mk/" target="_blank">FEIT</a> (Faculty of Electrical Engineering and Information Technologies) in Skopje.
    %p <strong>Get in touch with me</strong>: <br />Email me at <a href="mailto:dalibor.nasevic@gmail.com">dalibor.nasevic@gmail.com</a>. Follow me on <a href="http://www.twitter.com/blackflasher" target="_blank">Twitter</a>.

%article.promo
  .info
    %h3 Latest blog posts
    %p.notes About software principles and practices

  .description
    %ul
      - @posts.each do |post|
        %li
          %h4= link_to post.title, post
          %time= post.published_at.to_s(:date)

%article.promo
  .info
    %h3 Open-source projects
    %p.notes Checkout my <a href="https://github.com/dalibor" target="_blank">Github</a> for more
  .description
    %ul
      %li
        %h4= link_to 'popravi.mk', 'https://github.com/dalibor/popravi.mk', :target => '_blank'
        %span Ruby on Rails, Google maps, API service
        %p Web application that allows citizens and city councils to report, view, discuss and process urban issues detected on public area. Visit the <a href="http://popravi.mk/" target="_blank">website</a>.

      %li
        %h4= link_to 'PopraviMK', 'https://github.com/dalibor/PopraviMK', :target => '_blank'
        %span Titanium Mobile (Android)
        %p Mobile application for Android devices that allows citizens and city councils to report, view, discuss and process urban issues. Download the application from <a href="https://market.android.com/details?id=mk.popravi.mobile&hl=en" target="_blank">market</a>.

      %li
        %h4= link_to 'Blog', 'https://github.com/dalibor/blog', :target => '_blank'
        %span Ruby on Rails
        %p Blog application built with Ruby on Rails used for this site.

      %li
        %h4= link_to 'cyrillizer', 'https://github.com/dalibor/cyrillizer', :target => '_blank'
        %span Ruby
        %p Ruby gem that converts characters from latin to Macedonian cyrillic alphabet.

      %li
        %h4= link_to '140.mk', 'https://github.com/dalibor/140mk', :target => '_blank'
        %span Ruby on Rails
        %p Twitter aggregator / directory application localized for Macedonian community

      %li
        %h4= link_to 'jQuery.tweets', 'https://github.com/dalibor/jQuery.tweets', :target => '_blank'
        %span jQuery
        %p jQuery plugin that displays recent tweets from a Twitter profile

      %li
        %h4= link_to 'jQuery.tracks', 'https://github.com/dalibor/jQuery.tracks', :target => '_blank'
        %span jQuery
        %p jQuery plugin that displays recent tracks from a Last.fm profile

%article.promo
  .info
    %h3 Presentations
    %p.notes About technologies and products
  .description
    %ul
      %li
        %h4 <a href="http://e-society.org.mk" target="_blank">e-society</a> conference in Skopje
        %time December, 2010
        %p My presentation about PopraviMK project from e-society conference. <br/>Presentation is in Macedonian.
        <iframe src="http://blip.tv/play/AYKcvzcC.html?p=1" width="360" height="260" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf#AYKcvzcC" style="display:none"></embed>
