.comment.admin
  .icons
    = link_to image_tag('icons/edit.png', :title => 'Edit'), edit_admin_comment_path(comment)
    = link_to image_tag('icons/delete.png', :title => 'Delete'), delete_admin_comment_path(comment), :class => "delete"
    %br/
    = label_tag "Delete"
    = check_box_tag "comment_ids[]", comment.id
    %br/
    - if comment.approved?
      %span= link_to 'reject', reject_admin_comment_path(comment), :method => :put
    - else
      %span= link_to 'approve', approve_admin_comment_path(comment), :method => :put
  = image_tag gravatar_url(comment.email), :class => 'avatar'
  %p.author
    Posted by #{h comment.name} at #{comment.created_at.strftime("%B %d, %Y at %I:%M %P")}
    %br/
    = h comment.post.title
  %p= sanitize simple_format(comment.content), :tags => %w(br p)
