.block
  .secondary-navigation
    %ul.wat-cf
      %li.first{:class => (params[:type].blank? ? 'active' : '')}= link_to "List (All #{Comment.all.count})", admin_comments_path
      %li{:class => (params[:type] == 'not-spam' ? 'active' : '')}= link_to "Valid (#{Comment.valid_comments.count})", admin_comments_path(:type => 'not-spam')
      %li{:class => (params[:type] == 'spam' ? 'active' : '')}= link_to "Spam (#{Comment.spam_comments.count})", admin_comments_path(:type => 'spam')
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_comment_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      Comment
    .inner
      = form_for @comment, :url => admin_comment_path(@comment), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
