<div class="top_icons">
  <%= link_to image_tag('icons/index.png', :title => 'All Comments'), admin_comments_path %>
  <%= link_to image_tag('icons/show.png', :title => 'Show Comment'), admin_comment_path(@comment) %>
</div>
<div class="new_comment">
  <%= error_messages_for :comment %>
  <% form_for [:admin, @comment], :html => {:class => 'form'} do |f| %>
    <%= f.hidden_field :post_id %>
    <div class="field_notice">required</div>
    <p>
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name %>
    </p>
    <div class="field_notice">required, will not be published</div
      <p>
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :url, 'URL:' %>
        <%= f.text_field :url %>
      </p>
      <p>
        <%= f.label :content, 'Comments:' %>
        <%= f.text_area :content, :rows => 10, :cols => 50 %>
      </p>
      <p>
        <%= f.submit 'Update', :class => 'submit' %>
      </p>
    <% end %>
  </div>
