<p>
	<%= link_to_unless params[:type].blank?, "All (#{Comment.all.count})", admin_comments_path %> |
	<%= link_to_unless params[:type] == 'not-spam', "Valid (#{Comment.valid_comments.count})", admin_comments_path(:type => 'not-spam') %> |
	<%= link_to_unless params[:type] == 'spam', "Spam (#{Comment.spam_comments.count})", admin_comments_path(:type => 'spam') %>
</p>
<%= form_tag destroy_multiple_admin_comments_path, :method => :delete do %>
	<div class="comments">
    <%= render :partial => 'comment', :collection => @comments %>
	</div>
	<p class="destroy_all">
    <%= submit_tag "Destroy selected comments" %>
	</p>
<% end %>
<div class="pagination">
    <%= will_paginate @comments %>
</div>
