.block
  .secondary-navigation
    %ul.wat-cf
      = render :partial => 'list'
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_comment_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_comment_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_comment.post_id", :default => t("activerecord.labels.post_id", :default => "Post"))
          \:
        = @comment.post_id
      %p
        %b
          = t("activerecord.attributes.admin_comment.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @comment.name
      %p
        %b
          = t("activerecord.attributes.admin_comment.email", :default => t("activerecord.labels.email", :default => "Email"))
          \:
        = @comment.email
      %p
        %b
          = t("activerecord.attributes.admin_comment.url", :default => t("activerecord.labels.url", :default => "Url"))
          \:
        = @comment.url
      %p
        %b
          = t("activerecord.attributes.admin_comment.content", :default => t("activerecord.labels.content", :default => "Content"))
          \:
        = @comment.content
      %p
        %b
          = t("activerecord.attributes.admin_comment.user_ip", :default => t("activerecord.labels.user_ip", :default => "User ip"))
          \:
        = @comment.user_ip
      %p
        %b
          = t("activerecord.attributes.admin_comment.user_agent", :default => t("activerecord.labels.user_agent", :default => "User agent"))
          \:
        = @comment.user_agent
      %p
        %b
          = t("activerecord.attributes.admin_comment.referrer", :default => t("activerecord.labels.referrer", :default => "Referrer"))
          \:
        = @comment.referrer
      %p
        %b
          = t("activerecord.attributes.admin_comment.approved", :default => t("activerecord.labels.approved", :default => "Approved"))
          \:
        = @comment.approved
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_comment_path(@comment), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_comment_path(@comment), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
