= render "shared/error_messages", :resource => @editor

.group
  = f.label :name, t("activerecord.attributes.editor.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :email, t("activerecord.attributes.editor.email", :default => "Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :password, t("activerecord.attributes.editor.password", :default => "Password"), :class => :label
  = f.password_field :password, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :password_confirmation, t("activerecord.attributes.editor.password_confirmation", :default => "Password confirmation"), :class => :label
  = f.password_field :password_confirmation, :class => 'text_field'
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_editors_path, :class => "text_button_padding link_button"
