.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_editors_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_editor_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Editors
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admin_editor.email", :default => t("activerecord.labels.email", :default => "Email"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @editors.each do |editor|
          %tr{:class => cycle("odd", "even")}
            %td
              = editor.id
            %td
              = link_to editor.email, admin_editor_path(editor)
            %td
              = editor.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_editor_path(editor)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_editor_path(editor)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_editor_path(editor), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
