.block#block-login
  %h2 Login
  .content.login
    .flash
      - flash.each do |type, message|
        %div{ :class => "message #{type}" }
          %p= message
    = form_tag session_path, :class => "form login" do
      .group.wat-cf
        .left= label_tag :email
        .right= text_field_tag :email
      .group.wat-cf
        .left= label_tag :password
        .right= password_field_tag :password
      .group.wat-cf
        .right
          %button.button{ :type => "submit" }
            = image_tag "web-app-theme/icons/key.png"
            Login
    = link_to "Back", root_path
