<div class="new_comment">
  <%= error_messages_for :comment %>
	<% form_for [@commentable, @comment], :html => {:class => 'form'} do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
  <p>
    <%= f.submit 'Comment', :class => 'submit' %>
  </p>
	<% end %>
</div>