.sidebar
  %article.about
    %h3.hidden About me
    = link_to image_tag('dalibor.nasevic.small.jpeg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic'), root_path, class: 'profile_image'
    .short_about
      %p
        Hello, I'm Dalibor. I'm <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">software engineer</a> working exclusively with Ruby and Ruby on Rails. I write clean code and practice eXtreme Programming.

      = render 'shared/get_in_touch'

  %aside.archive
    %h3
      == Archive
      %span== #{link_to "view all", posts_path}
    %ul
      - @posts_by_month.each do |post|
        %li
          = link_to post.published_at.strftime("%B %Y"), date_posts_path(post.published_at.year, post.published_at.month)
          %span== (#{post.total})
