.sidebar
  %article.about
    %h3.hidden About me
    = image_tag('dalibor.nasevic.small.jpg', :alt => 'Dalibor Nasevic', :title => 'Dalibor Nasevic')
    .short_about
      %p I'm Ruby Developer with <a href="http://www.linkedin.com/in/dalibornasevic" target="_blank" title="My LinkedIn profile">over 5 years</a> of experience working with Ruby on Rails. I write clean code and practice TDD.
      = render 'shared/get_in_touch'

  %aside.archive
    %h3
      == Archive
      %span== #{link_to "view all", posts_path}
    %ul
      - @posts_by_month.each do |post|
        %li
          = link_to post.published_at.strftime("%B %Y"), date_posts_path(post.published_at.year, post.published_at.month)
          %span== (#{post.total})
