<% form_for [:admin, @post], :html => {:class => 'form'} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :published_at, 'Publish at' %>
    <%= f.datetime_select :published_at %>
		<%= f.check_box :publish %>
  </p>
  <p>
    <%= f.label :tag_names, 'Tags' %>
    <%= f.text_field :tag_names %>
  </p>
  <p>
    <%= f.submit @post.new_record? ? 'Create' : 'Update', :class => 'submit' %>
  </p>
<% end %>
