- title(@post.title)
- description(strip_tags(@post.content).split("\n").first)
- keywords(@post.tags.join(', '))

= render 'shared/sidebar'

%article.post
  %header
    %h1= @post.title

  .content
    = raw find_and_preserve(@post.content)

  %footer
    %p
      Posted by #{@post.author} on
      %time= @post.date.to_s(:date)
      and tagged with:
      == #{raw @post.tags.map { |tag| link_to(tag, posts_path(tag: tag), :rel => 'tag')}.to_sentence}.

  %section.comments
    = render 'shared/disqus'
