- title(@post.title)
- keywords(@post.tags.map(&:name).join(', '))
- description(@post.description)

= render 'shared/sidebar'

%article.post
  %header
    %h2= @post.title
    %time= @post.published_at.to_s(:date)

  .content
    = raw find_and_preserve(@post.content)

  %footer
    %p
      Tags:
      = raw @post.tags.map{|tag| link_to(tag.name, tag_posts_path(tag), :rel => 'tag')}.join(', ')

  %section.comments
    = render 'shared/disqus'
