.wrapper
  %small.copyright
    Copyright &copy; 2009 - #{Date.today.year} dalibornasevic.com

  %nav
    %ul
      %li= link_to 'Twitter', 'http://www.twitter.com/blackflasher', :target => '_blank'
      %li= link_to 'Last.fm', 'http://www.last.fm/user/blackflasher', :target => '_blank'
      %li= link_to 'LinkedIn', 'http://mk.linkedin.com/in/dalibornasevic', :target => '_blank'
      %li= link_to 'Github', 'http://github.com/dalibor', :target => '_blank'
