!!!
%html
  %head
    %title Administration
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = yield :head
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          = link_to B[:title], root_path
        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => edit_admin_profile_path}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a.logout{:href => "/logout"}= t("web-app-theme.logout", :default => "Logout")
        #main-navigation
          %ul.wat-cf
            %li{:class => controller.controller_path == 'admin/posts' ? 'active' : '' }
              %a{:href => admin_posts_path} Posts
            %li{:class => controller.controller_path == 'admin/comments' ? 'active' : '' }
              %a{:href => admin_comments_path} Comments
            - if current_editor.is_admin?
              %li{:class => controller.controller_path == 'admin/editors' ? 'active' : '' }
                %a{:href => admin_editors_path} Editors
            %li{:class => controller.controller_path == 'admin/attachments' ? 'active' : '' }
              %a{:href => admin_attachments_path} Attachments
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} #{B[:title]}.
        #sidebar
          = yield :sidebar
