<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= " :: #{BLOG_TITLE} :: #{yield(:title)}" %></title>
    <%= tag(:meta, :name => 'description', :content => yield(:description) || BLOG_DESCRIPTION)  %>
    <%= tag(:meta, :name => 'keywords', :content => BLOG_KEYWORDS)  %>
    <%= auto_discovery_link_tag(:rss, posts_path(:format => 'rss')) %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'shjs/sh_vim-dark.min' %>
    <%= javascript_include_tag 'shjs/sh_main.min' %>
    <%= javascript_include_tag 'shjs/sh_ruby.min' %>
    <%= javascript_include_tag :defaults %>
    <% javascript_tag do -%>
      var _token = '<%= form_authenticity_token -%>';
      var _google_analytics_id = '<%= GOOGLE_ANALYTICS_ID %>';
    <% end -%>
	</head>
  <body>
    <div id="container">
			<%= render :partial => 'layouts/header' %>
      <div id="content">
        <div class='messages'>
          <% if flash[:notice] %>
          <div id='notice'><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
          <div id='error'><%= flash[:error] %></div>
          <% flash[:error] = nil %>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= render :partial => 'shared/about' %>
        <%= render :partial => 'shared/twitter' %>
        <%= render :partial => 'shared/last_fm' %>
        <%= render :partial => 'shared/tags' %>
      </div>
      <div id="footer">
        <%= BLOG_FOOTER %>
      </div>
    </div>
  </body>
</html>