!!! 5
- html_tag :lang => 'en', :class => 'no-js' do
  = render :partial => 'layouts/head'
  %body{ :id => body_id }
    %header.header
      = render :partial => 'layouts/header'
    .container
      = render :partial => 'layouts/flashes'
      = yield
    = render :partial => 'layouts/javascripts'
